.background{
      background-image: url('../imagenes/wallpaper1.jpg');
      width: 100%;
      height: 100vh;
}

.backgroundP{
      background-image: url('../imagenes/873385d2a6dd10850b68ab2bea04f6e0.jpg');
      width: 100%;
      height: 100vh;
}
